/*----------  Reset  -----------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,
q,s,samp,small,strike,strong,sub,sup, tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,input, table,caption,tbody,tfoot,thead,tr,th,td
{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
h1,h2,h3,h4,h5,h6,body{margin:0;}
ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
em,i{font-style:italic!important;}
b,strong{font-weight:bold!important;}
:focus{outline:0;}
::-moz-focus-inner{border:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
input,textarea,select{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-khtml-box-sizing:border-box;}
button{background-color:transparent;border:0;}

/*----------  Preparação para layout elástico  ----------*/
body,html{min-height:100%;}
body{font-size:1em;position:relative;}
html{font-size:100%;}

/*----------  Características  ----------*/
.clear{clear:both;}
.clearfix:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.hidden{display:none;}

/*----------  Tipografia & Botões  ----------*/
body{font-family:'Open Sans', arial, sans-serif;background:url('../img/body-pattern.png') repeat;color:#ededed;text-rendering:optimizeLegibility;-webkit-text-rendering:optimizeLegibility;overflow-x:hidden;}

/*----------  Estrutura do layout  ----------*/
#body-topbar,
#body-bottombar{border:0;background-color:#efefef;height:14px;margin:0;width:100%;}
#body-bottombar{position:absolute;left:0;bottom:0;box-shadow:inset 0 6px 6px #aaa;}
#body-topbar{box-shadow:inset 0 -6px 6px #bbb;margin-bottom:15px;}

#wrapper{padding:10px 0 20px;}

/*----------  Exibição de tabela de projetos  ----------*/
table{width:100%;table-layout:fixed;margin-bottom:20px;}

th,td{padding:5px;}

thead > tr > th{text-align:left;height:220px;padding:0;vertical-align:top;width:87px;}
thead > tr > th.tbl-head-logo{width:280px;text-align:center;vertical-align:middle;}
thead > tr > th > div{
	color:rgba(0,0,0,0.95);
	font-size:20px;
	cursor:default;
	font-weight:bold;
	padding:15px 13px;
	width:160px;
	border-radius:4px;
	text-shadow:0 1px 0 rgba(255,255,255,0.4),0 0 1px rgba(0,0,0,0.35);
	transform:rotate(270deg);
	-webkit-transform:rotate(270deg);
	margin:66px 0 0 -55px;
	border:1px solid #000;
	text-align:left;}
thead > tr > th.tbl-projeto-ok > div{background-color:#59be00;box-shadow:inset 0 0 4px 0 #000,inset 0 -18px 18px -6px rgba(0,0,0,0.3),inset 0 18px 18px -6px #77ff00;}
thead > tr > th.tbl-projeto-att > div{background-color:#e9cb00;box-shadow:inset 0 0 4px 0 #000,inset 0 -18px 18px -6px rgba(0,0,0,0.3),inset 0 18px 18px -6px #ffdf00;}
thead > tr > th.tbl-projeto-crit > div{background-color:#ff0000;box-shadow:inset 0 0 4px 0 #000,inset 0 -18px 18px -6px rgba(0,0,0,0.3),inset 0 18px 18px -6px #ff3434;}

tbody > tr{}
tbody > tr > th{padding-bottom:5px;padding-right:20px;text-align:left;}
tbody > tr > th > .block-light{
	background:url('../img/th-left-pattern.png') repeat;
	padding:18px 22px;
	font-weight:bold;
	font-size:17px;
	cursor:default;
	color:rgba(255,255,255,0.9);
	text-shadow:0 2px 0 rgba(0,0,0,0.2),0 1px 0 rgba(255,255,255,0.5);
	border-radius:4px;
	box-shadow:inset 0 0 3px 2px #000,inset 0 9px 9px -3px #666,inset 0 -35px 35px -30px #000;}

.cell{vertical-align:middle;}
.cell > div {
	background-color:#2E2E2E;
	padding-top:14px;
	height:39px;
	margin-left:5px;
	border-radius:4px;
	box-shadow:inset 0 0 4px 1px rgba(0,0,0,0.85),0 -1px 1px #000,inset 0 -16px 16px -6px rgba(0,0,0,0.45);
	border:1px solid #1e1e1e;
	position:relative;
	z-index:2;
	text-align:center;
	font-size:20px;
	color:rgba(185,235,195,0.8);
	letter-spacing:-2px;
	font-weight:bold;
	text-shadow:0 1px 0 #000,0 0 1px rgba(255,255,255,0.15);
	width:56px;}
.cell-ok > div{opacity:0.95;background-color:rgba(255,255,255,0.075);border-color:rgba(255,255,255,0.015);}
.cell-att > div,
.cell-crit > div{border:0;height:41px;width:57px;color:rgba(0,0,0,0.9);text-shadow:0 1px 0 rgba(255,255,255,0.4);}
.cell-att > div{background-color:#f6d700;}
.cell-crit > div{background-color:#eb0000;}





































