body {
  background: url('../img/body-pattern.png') repeat;
  color: white;
  font-family: "Open Sans",arial,sans-serif;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  vertical-align: top;
  white-space: nowrap;
}

input, textarea {
  border: 0;
  margin: 0;
  outline: none;
  resize: vertical;
}

ul {
  list-style: none;
  padding: 0;
}

:focus {outline:none;}

::-moz-focus-inner {border:0;}

.dx-table td, .dx-table th {
  box-sizing: border-box;
  font-weight: bold;
  height: 60px;
  margin: 10px 5px;
  padding-top: 21px;
  
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4) inset, 0 -1px 1px #000, 0 -10px 16px -6px rgba(0, 0, 0, 0.20) inset;
}

.dx-table td.atrasado.perigo, .dx-table td.atrasado.atencao, .dx-table td.atrasado.ok {
  background-color: initial;
  color: white;
}

.dx-table td {
  border: 1px solid;
  border-radius: 8px;
  cursor: pointer;
}

.dx-table td.perigo {
  background-color: #eb0000;
  border-color: red;
  color: black;
}

.dx-table td.perigo:hover {
  background-color: #cb0000;
}

.dx-table td.atencao {
  background-color: #f6d700;
  border-color: yellow;
  color: black;
}

.dx-table td.atencao:hover {
  background-color: #d6b700;
}

.dx-table td.ok {
  background-color: #59be00;
  border-color: #00ff00;
  color: black;
}

.dx-table td.ok:hover {
  background-color: #399e00;
}

.dx-table th:first-child {
  background: unset;
  border: none;
}

.dx-table tr td {
  height: 60px;
  text-align: center;
  width: 80px;
}

.dx-table tr td:first-child, .dx-table tr th:first-child {
  height: 250px;
  text-align: left;
}

.dx-table th {
  background: url('../img/th-left-pattern.png') repeat;
  border-radius: 5px;
  padding-left: 10px;
  position: relative;
  text-align: left;
  width: 300px;
}

.dx-table-flip tr {
  display: inline-block;
}

.dx-table-flip td, .dx-table-flip th {
  display: block;
}

.dx-table .vertical {
  display: block;
  font-size: 24px;
  margin-left: 55px;
  margin-top: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  transform: rotate(270deg);
  transform-origin: bottom left;
  width: 210px;
}

.logo img {
  bottom: 0px;
  display: block;
  left: 0px;
  margin: auto;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 225px;
}

.logo input {
  display: none;
  background-color: #111;
  border: 1px solid #555;
  border-radius: 4px;
  bottom: 0px;
  box-sizing: border-box;
  color: #666;
  height: 32px;
  left: 0px;
  padding: 2px 10px;
  position: absolute;
  width: 100%;
}

.heatbar {
  bottom: 0px;
  display: table;
  height: 4px;
  left: 1px;
  position: absolute;
  width: calc(100% - 2px);
}

.heatbar span {
  display: table-cell;
}

.heatbar span.perigo {
  background-color: #eb0000;
}

.heatbar span.atencao {
  background-color: #f6d700;
}

.heatbar span.ok {
  background-color: #59be00;
}

.heatbar span:first-child {
  border-radius: 0 0 0 100px;
}

.heatbar span:last-child {
  border-radius: 0 0 100px 0;
}

/******************** POPUP ********************/

.no-close {
	position: absolute;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

#dialog {
	min-height: 520px;
}

#dialog-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 49;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

.dialog-close-button {
  display: block;
  position: absolute;
  right: 0px;
  top: 2px;
  font: 12px 'Open Sans', arial, sans-serif;
  color: #333;
  padding: 1px 5px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 50ms ease-in-out;
}
.dialog-close-button:hover {
  color: #000;
  text-decoration: underline;
}

.dialog-close-button:active { 
  background-color: #ccc;
}

.dialog-content {
  background-color: #e5e5e5;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  width: 600px;
  z-index: 50;
}

.dialog-content h2 {
  color: #222;
  cursor: default;
  font: bold 20px 'Open Sans', Arial, Sans-serif;
  margin-bottom: 8px;
  margin-top: 0;
  text-shadow: 0 0 1px #bbb, 0 1px 0 #fff;
}

.dialog-content fieldset {
  color: #444;
  border: none;
}

.dialog-content legend {
  color: #666;
  font: bold 12px "Open Sans",arial;
  text-shadow: 0 1px 0 #fff;
}

.dialog-content .card {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  margin: 0px 0px 15px;
  text-align: left;
}

.dialog-content h4 {
  color: #000000;
  font-size: 18px;
  margin: 0 0 10px 0;
  padding: 7px 14px;
}

.dialog-content h4 span {
  float: right;
  font-weight: normal;
}

.dialog-content textarea {
  background-color: #f2f2f2;
  border: 1px solid #c7c7c7;
  border-radius: 3px;
  box-sizing: border-box;
  color: #777;
  font-size: 12px;
  height: 100px;
  padding: 6px 8px;
  width: 100%;
}
.dialog-content textarea:focus {
  background-color: #fcfcfc;
  color: #777;
  border-color: #bbb;
}

.dialog-content .options input {
  display: inline-block;
  border-radius: 3px;
  margin-right: 10px;
  padding: 8px 15px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.9);
  font-weight: bold;
  font-size: 14px;
  transition: all 100ms ease-in-out;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.dialog-content .options>input[disabled],
.dialog-content .options>input[disabled]:hover,
.dialog-content .options>input[disabled]:active,
.dialog-content .options>input[disabled]:focus {
  opacity: .3; cursor: default; box-shadow: none;
}

.dialog-content .options>input:first-child {
  float: left;
}

.dialog-content .options>input:last-child {
  float: right;
  margin-right: 0;
}

.dialog-content .btn-ok { background-color: #82ec53; }

.dialog-content .btn-ok:hover {background-color: #62c736; }

.dialog-content .btn-atencao { background-color: #fff32c; }

.dialog-content .btn-atencao:hover { background-color: #e8dc1d; }

.dialog-content .btn-perigo { background-color: #ff5656; }

.dialog-content .btn-perigo:hover { background-color: #e43737; }

.dialog-content .options>input:hover { color: #000; }

.dialog-content .options>input:active { 
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 35px 35px -10px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.1);
}

.toggle-historico {
  cursor: pointer;
}

.toggle-historico:hover {
  color: #333;
}

.toggle-historico span {
  display: inline-block;
  width: 7px;
}

.historico {
  background-color: #f0f0f0;
  border: 1px solid #DDD;
  border-radius: 3px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.23) inset;
  display: none;
  margin-top: 2px;
  max-height: 170px;
  overflow: auto;
}
.historico>li { font-size: 14px; }

.historico li {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 7px;
  color: rgba(0, 0, 0, .8);
  margin:  7px;
  text-align: left;
}

.historico .perigo { background-color: #eecccc; }

.historico .ok { background-color: #ddeecc; }

.historico .atencao { background-color: #faf1cb; }

.historico .desatualizado { background-color: #c0c0c0; }

/******************** FIM POPUP ********************/