body { font-family: Verdana; background: #EAEAEA; margin:0; }

.main {position: relative; margin: 0 auto; float:none; width: 1025px; }
.main .interMain { float:left; width: 100%; background-color: white; padding: 0 0 0 30px; }

.titulo { font-weight:normal; }

.projeto { float:left; width: 990px; margin:0 0 15px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; -moz-box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.25); -webkit-box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.25); }
.projeto .header { float:left; width:100%; height: 42px; cursor:pointer; }
.projeto .header .title { float:left; color:white; font-size: 13px; }
.projeto .header .title h2 { font-weight: normal; text-shadow: 0 0.06em 0.1em #333333; margin:8px 0 0 15px; }
.projeto .header .adicionais { font-size:12px; float:right; margin:0 5px 0 0;  }
.projeto .header .adicionais span { color:white; font-weight:bold; float:left; margin:22px 0 0; }

.b {background-color:#4CA018; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; -moz-box-shadow: 0 0 18px #756969 inset; -webkit-box-shadow: 0 0 18px #756969 inset; }
.b .cpi { float:left; border:2px solid #2A6D00; background-color: #E6F8EA; color:#595959; margin:3px 0 0px 2px; height: 30px; width:90px; padding: 2px 0 0 3px; font-weight:bold; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; }
.b .cpi strong { color: #178A2B; font-size:23px; }

.v {background-color:#A62527; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; -moz-box-shadow: 0 0 18px #756969 inset; -webkit-box-shadow: 0 0 18px #756969 inset; }
.v .cpi { float:left; border:2px solid #6E090D; background-color: #FFCFC5; color:#595959; margin:3px 0 0px 2px; height: 30px; width:90px; padding: 2px 0 0 3px; font-weight:bold; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; }
.v .cpi strong { color: #A51703; font-size:23px; }

.a {background-color:#D69700; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; -moz-box-shadow: 0 0 18px #756969 inset; -webkit-box-shadow: 0 0 18px #756969 inset; }
.a .cpi { float:left; border:2px solid #947B16; background-color: #FFF9D7; color:#595959; margin:3px 0 0px 2px; height: 30px; width:90px; padding: 2px 0 0 3px; font-weight:bold; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; }
.a .cpi strong { color:#D69700; font-size:23px; }

.projeto .content { display:none; float:left; background-color:white; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; }
.projeto .content h2 { font-weight:normal; font-size:18px; text-align:center; color: #343434; }
.projeto .content .contentEquipe { float:left; width:256px; }
.projeto .content .contentQualidade { background-color:#F5F5F5; float:left; width:478px; min-height:160px; }
.projeto .content .contentCliente {float:left; width:256px;}

.projeto .content .contentQualidade span { float:left; font-size:12px; text-align:center; width:100%; color:#444444; }

.projeto .content .status { color:#444444; float:left; font-size:12px; margin:0 0 4px 21px; padding:11px 0 11px 11px; text-align:left; width:200px; }

.projeto .content .status.ms { background:url(../images/icons/muito_satisfeito.png) no-repeat  97% center #E6F8EA; border:2px solid #17B12F; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; }
.projeto .content .status.s { background:url(../images/icons/satisfeito.png) no-repeat  97% center #CBE7F2; border:2px solid #00ADEC; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; }
.projeto .content .status.i { background:url(../images/icons/insatisfeito.png) no-repeat 97% center #FFF9D7; border:2px solid #FBBD0A; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; }
.projeto .content .status.mi { background:url(../images/icons/muito_insatisfeito.png) no-repeat 97% center #FFCFC5; border:2px solid #DD1B00; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; }

.projeto .content .minis { float:left; margin:8px 0 8px 32px; }

.projeto .content .miniStatus { color:#5A5A5A; float:left; font-size:12px; height:60px; line-height:20px; margin:0 3px; padding:0; text-align:center; width:94px; }

.projeto .content .miniStatus.ms { background:url(../images/icons/muito_satisfeito.png) no-repeat center 80% #E6F8EA; border:2px solid #17B12F; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; }
.projeto .content .miniStatus.s { background:url(../images/icons/satisfeito.png) no-repeat center 80% #CBE7F2; border:2px solid #00ADEC; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; }
.projeto .content .miniStatus.i { background:url(../images/icons/insatisfeito.png) no-repeat center 80% #FFF9D7; border:2px solid #FBBD0A; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; }
.projeto .content .miniStatus.mi { background:url(../images/icons/muito_insatisfeito.png) no-repeat center 80% #FFCFC5; border:2px solid #DD1B00; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; }
