<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<servlet>
		<servlet-name>NotificacaoServlet</servlet-name>
		<servlet-class>br.com.dextra.dexboard.servlet.NotificacaoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NotificacaoServlet</servlet-name>
		<url-pattern>/notificacao/projetos</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ReloadProjetosServlet</servlet-name>
		<servlet-class>br.com.dextra.dexboard.servlet.ReloadProjetosServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReloadProjetosServlet</servlet-name>
		<url-pattern>/reload/projetos</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>QueryServlet</servlet-name>
		<servlet-class>br.com.dextra.dexboard.servlet.QueryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QueryServlet</servlet-name>
		<url-pattern>/query</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>HistoryServlet</servlet-name>
		<servlet-class>br.com.dextra.dexboard.servlet.HistoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HistoryServlet</servlet-name>
		<url-pattern>/history</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>IndicadorServlet</servlet-name>
		<servlet-class>br.com.dextra.dexboard.servlet.IndicadorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndicadorServlet</servlet-name>
		<url-pattern>/indicador</url-pattern>
	</servlet-mapping>

	<!-- servlet> <servlet-name>ReIndexServlet</servlet-name> <servlet-class>endpoint.tools.ReIndexServlet</servlet-class>
		</servlet> <servlet-mapping> <servlet-name>ReIndexServlet</servlet-name>
		<url-pattern>/_tools/reindex/*</url-pattern> </servlet-mapping -->

	<filter>
		<filter-name>AuthFilter</filter-name>
		<filter-class>br.com.dextra.dexboard.servlet.AuthFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>reload</web-resource-name>
			<url-pattern>/reload/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<filter>
		<filter-name>ObjectifyFilter</filter-name>
		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ObjectifyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
